@charset "utf-8";

@-webkit-keyframes fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }

@font-face {
	font-family:radio*;
	src: url('../fonts/perfo-bold/perfo-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/perfo-bold/perfo-bold.eot%3F') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/perfo-bold/perfo-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/perfo-bold/perfo-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/perfo-bold/perfo-bold.otf.html') format('opentype'),
		url('../fonts/perfo-bold/perfo-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/perfo-bold/perfo-bold.svg') format('svg'); /* Chrome < 4, Legacy iOS */}
@font-face {
	font-family:radio;
	src: url('../fonts/modern_lcd-7/modern_lcd-7.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/modern_lcd-7/modern_lcd-7.eot%3F') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/modern_lcd-7/modern_lcd-7.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/modern_lcd-7/modern_lcd-7.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/modern_lcd-7/modern_lcd-7.otf.html') format('opentype'),
		url('../fonts/modern_lcd-7/modern_lcd-7.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/modern_lcd-7/modern_lcd-7.svg') format('svg'); /* Chrome < 4, Legacy iOS */}
@font-face {
	font-family:Aldrich;
	src: url('../fonts/modern_lcd-7/modern_lcd-7*.eot.html'); /* IE 9 Compatibility Mode */
	src: url('../fonts/modern_lcd-7/modern_lcd-7*.eot%3F.html') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/modern_lcd-7/modern_lcd-7*.woff2.html') format('woff2'), /* Super Modern Browsers */
		url('../fonts/modern_lcd-7/modern_lcd-7*.woff.html') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('http://radcap.ru/fonts/TT-ShinGo-Medium Medium/TT-ShinGo-Medium Medium*.otf') format('opentype'),
		url('../fonts/Aldrich/Aldrich.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/modern_lcd-7/modern_lcd-7*.svg.html') format('svg'); /* Chrome < 4, Legacy iOS */}		
html, body{height:100%;}
::selection {
    color: #ffffff;
	background: #555555;
   }
body{font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0 auto;
	margin: 0;
	padding: 0;
	background-image:url(../graf2/speakers1.png);
	background-color:#000000;
	background-position: left;
	background-repeat:no-repeat;
	background-position:top ;
	background-attachment:fixed;
	-webkit-animation: fade-in 2s linear;
    -moz-animation: fade-in 2s linear;
    -o-animation: fade-in 2s linear;
    animation: fade-in 2s linear;}
header{height:20px}	
.container{width:1240px;
	background-color: rgba(0,0,0,0.40);
	background-repeat:no-repeat;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom:20px;
	background*:linear-gradient(to top left, #000000, #000000, #444444);
	background-image*:url(../graf2/speakers1.png);
	-webkit-animation: fade-in 3s linear;
    -moz-animation: fade-in 3s linear;
    -o-animation: fade-in 3s linear;
    animation: fade-in 3s linear;}
#ground {display:block;
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
  z-index:0;
  text-indent:-5000em; background*:url(../graf2/blue-music-equalizer.jpg.html)}
#sheet{padding-top: px;position: relative;z-index: 10;}
.genres{position: relative;z-index: 0;}
.genres-big{position: relative;z-index: 0;}
.genres220{position: relative;z-index: 0;}
.genres:hover{background-color: transparent;z-index: 50;}
.genres-big:hover{background-color: transparent;z-index: 50;}
.genres220:hover{background-color: transparent;z-index: 50;}
.genres span{position: absolute; 
  background-color: #000000;
  opacity: 0;
  margin: 0 auto;
  box-shadow: 0px 0px 40px 0px #444444;
  top: 0px;  
  left: 30px;
  padding-left: 4px;
  padding-right: 4px; 
  padding-top: 4px;
  padding-bottom: 4px;
  transition: 0.5s linear;  
  border: 1px solid #F;  
  visibility: hidden;  
  color: #FFFFFF;
  font-size:10px;
  line-height:18px;
  text-align:center;
  width:250px;
  border-radius: 0px 0px 0px 0px;  
  -moz-border-radius: 0px 0px 0px 0px;  
  -webkit-border-radius: 0px 0px 0px 0px;}
.genres-big span{position: absolute;  
  background-color: #000000;
  opacity: 0;
  margin: 0 auto;
  box-shadow: 0px 0px 40px 0px #444444;
  top: 0px;  
  left: -110px;
  padding-left: 4px;
  padding-right: 4px; 
  padding-top: 4px;
  padding-bottom: 4px;
  transition: 0.5s linear;  
  border: 1px solid #F;  
  visibility: hidden;  
  color: #FFFFFF;
  font-size:10px;
  line-height:18px;
  text-align:center;
  width:280px;
  border-radius: 0px 0px 0px 0px;  
  -moz-border-radius: 0px 0px 0px 0px;  
  -webkit-border-radius: 0px 0px 0px 0px;}  
.genres220 span{position: absolute;  
  background-color: #000000;
  opacity: 0;
  margin: 0 auto;
  box-shadow: 0px 0px 40px 0px #444444;
  top: 0px;  
  left: 20px;
  padding-left: 4px;
  padding-right: 4px; 
  padding-top: 4px;
  padding-bottom: 4px;
  transition: 0.5s linear;  
  border: 1px solid #F;  
  visibility: hidden;  
  color: #FFFFFF;
  font-size:10px;
  line-height:18px;
  text-align:center;
  width:240px;
  border-radius: 0px 0px 0px 0px;  
  -moz-border-radius: 0px 0px 0px 0px;  
  -webkit-border-radius: 0px 0px 0px 0px;}   
.genres span img{border-width: 0;padding: 0px;margin: 0 auto; width:250px;}
.genres-big span img{border-width: 0;padding: 0px;margin: 0 auto; width:280px;}
.genres220 span img{border-width: 0;padding: 0px;margin: 0 auto; width:240px;}
.genres:hover span{opacity: 1;visibility: visible;top: 30px;left:30px;}
.genres-big:hover span{opacity: 1;visibility: visible;top: 40px;left:-110px;}
.genres220:hover span{opacity: 1;visibility: visible;top: 20px;left:20px;}
h1 {}
h2 {} 
h3 {}
h4, h5, h6, p {}
a img {border: none;}
a:link {color:#999999;text-decoration:none;font-family: Verdana,Helvetica, Arial, sans-serif;}
a.genres-index-d {color:#999999;text-decoration:none;font-family: Verdana,Helvetica, Arial, sans-serif;text-shadow: 8px 8px 4px #000000;}
a:visited {text-decoration: none;color: #999999;}
a:hover, a:active, a:focus {text-decoration: none;color: #FFFFFF;}
a:active {color: #FF0000;text-decoration: none;}
a {color: #111111;}
a {-webkit-transition-duration: 0.7s; 
-o-transition-duration: 0.7s; 
-moz-transition-duration: 0.7s; 
transition-duration: 0.7s;}
a:hover{color:#FFFFFF;}
.slog{ width:900px;
    white-space:nowrap;
	text-align:right;
    overflow:hidden;
    -webkit-animation: step 4s steps(50, end);
    animation: step 4s steps(50, end);}
.slog1{ width: 920px;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: step 4s steps(50, end);
    animation: step 4s steps(50, end);}
.slog2{ width: 830px;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: step 6s steps(50, end);
    animation: step 6s steps(50, end);}
@keyframes step{
   0% { width: 0;}
   100% {width:100%;}
}
@-webkit-keyframes step{
   0% { width: 0;}
   100% {width:100%;}
}
input {outline:none;}
.search {cursor: pointer;}
a:focus{outline:none;}
#outerdiv{width:980px;height:22px;overflow:hidden;position:relative;} 
#innerIframe{position:absolute;top:-334px;left:0px;width:980px;height:1000px;}  
hr.hr-style {border:0;
             height:1px;
             background: #000;
             background-image:-webkit-linear-gradient(left, #000000, #000000, #000000);
             background-image:-moz-linear-gradient(left, #000000, #000000, #000000);
             background-image:-ms-linear-gradient(left, #000000, #000000, #000000);
             background-image:-o-linear-gradient(left, #000000, #000000, #000000);
             background-image:-khtml-linear-gradient(left, #000000, #000000, #000000);
             background-image:linear-gradient(left, #000000, #000000, #000000);}	 
			 
hr.hr-style-d {border:0;
             height:1px;
             background: #000;
             background-image:-webkit-linear-gradient(left, #888888, #000000);
             background-image:-moz-linear-gradient(left, #888888, #000000);
             background-image:-ms-linear-gradient(left, #888888, #000000);
             background-image:-o-linear-gradient(left, #888888, #000000);
             background-image:-khtml-linear-gradient(left, #888888, #000000);
             background-image:linear-gradient(left, #, #000000);}
.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn; 
 
    animation-duration: 6s; 
    -webkit-animation-duration: 6s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;       
    }
    60% {
        transform: scale(1);  
    }
    80% {
        transform: scale(1);
        opacity: 1; 
    }   
    100% {
        transform: scale(1);
        opacity: 1; 
    }       
}
 
@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;       
    }
    60% {
        -webkit-transform: scale(1);
    }
    80% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }   
    100% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }       
}
.d2, .d3, .d4 {background-image*:-webkit-linear-gradient(to left, #000000, #555555, #000000);
     background-image*:-moz-linear-gradient(to left, #000000, #555555, #000000);
     background-image*:-ms-linear-gradient(to left, #000000, #555555, #000000);
     background-image*:-o-linear-gradient(to left, #000000, #555555, #000000);
     background-image*:-khtml-linear-gradient(to left, #000000, #555555, #000000);
     background-image*:linear-gradient(to left, #050505, #444444, #050505);
     width:1240px;min-width*:1024px;max-width*:100%;text-align:center;margin: 0 auto;margin-top*:60px;margin-bottom*:60px;}
.d1 {background-image*:-webkit-linear-gradient(to left, #000000, #555555, #000000);
     background-image*:-moz-linear-gradient(to left, #000000, #555555, #000000);
     background-image*:-ms-linear-gradient(to left, #000000, #555555, #000000);
     background-image*:-o-linear-gradient(to left, #000000, #555555, #000000);
     background-image*:-khtml-linear-gradient(to left, #000000, #555555, #000000);
     background-image*:linear-gradient(to left, #050505, #444444, #050505);
     width:1240px;min-width*:1024px;max-width*:100%;text-align:center;margin: 0 auto;margin-top*:100px;margin-bottom:60px;}     
.m1{width:px;max-width:100%; margin:0 auto; text-align:center; margin-top:30px}
.m2{width:px;max-width:100%; margin:0 auto; text-align:center; margin-top:30px}	 
.logo-tab{width:1240px;margin:0 auto;background-color:#000000;background-image:linear-gradient(to right, #000000, #000000, #111111, #222222, #111111, #000000, #000000);}
.quote{width:1240px;margin:0 auto;margin-top:40px;text-align:center;margin-bottom:40px;background:linear-gradient(to left,#000000, #222222, #000000)}
.quote1{letter-spacing:2px;word-spacing:10px;line-height:70px;color:#FFFFFF;font-size:44px;text-align:center;text-shadow: 8px 8px 4px #000000;font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;}
.quote2{letter-spacing:2px; padding-bottom:40px;padding-left:980px;font-size:14px;word-spacing:4px;color:#999999;text-shadow: 8px 8px 4px #000000;}
.quote3{width:1px;background*:url(../stylegraf/goethe.jpg) no-repeat right;background-size*:300px 300px;}
.logo{width:74px;line-height:0px;text-align:left;}
.logo-size{width:px;box-shadow*: 0px 0px 40px 0px #999999; }
.logo-title{font-weight:normal;font-size:10px;word-spacing:10px;color:#888888;letter-spacing:4px;text-align:right;}
.logo-playback{width*:px;margin:0 auto;text-align:center;margin-top:30px;}
.important{margin:0 auto;}
.important-inside{color:#FF0000; font-size:17px; font-weight:bold; line-height:60px; letter-spacing:12px; padding-left:6px}
a.important-inside{color:#000000;text-shadow:0px 0px 10px #FFFFFF,0px 0px 20px #222222}
a.important-inside:hover {color:#000000; text-shadow: 0px 0px 160px #FF0000, 0px 0px 80px #FF0000, 0px 0px 40px #FF0000, 0px 0px 10px #FF0000}
.general{width:1240px; height:570px; margin:0 auto; background-image:url(../graf2/equalizer.jpg); background-repeat:no-repeat; background-position:center;vertical-align: top}
.banner{width:1200px; margin:0 auto;margin-top:110px;}
.banner-text{padding-left:6px;text-align:center;color:#ffffff;font-size:60px;word-spacing:26px;letter-spacing:6px;font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;text-shadow*: 0px 0px 40px #ffffff}
.app{ width:900px; margin:0 auto;white-space:10px; margin-top:20px;font-size:8px; font-weight:bold; line-height:20px; text-align: center; letter-spacing:8px;color:#ff0000;text-shadow*:0px 0px 20px #ff0000, 0px 0px 40px #ff0000}
.app-column{width:40px;}
.app-name{width:200px;}
.genres-d{width:1230px; margin:0 auto; font-size:34px; line-height:140px;margin-top:px;margin-bottom:80px;text-align:center; background-image:linear-gradient(to right, #000000, #222222, #000000);}
.radio{background-image*:-webkit-linear-gradient(to left, #000000, #555555);
     background-image*:-moz-linear-gradient(to left, #000000, #555555);
     background-image*:-ms-linear-gradient(to left, #000000, #555555);
     background-image*:-o-linear-gradient(to left, #000000, #555555);
     background-image*:-khtml-linear-gradient(to left, #000000, #555555);
     background:linear-gradient(to right, #333333, #666666, #ffffff, #888888, #555555, #444444, #333333, #222222);
     background-position:left;border-collapse: collapse ;width:1240px; height:px;margin:0 auto;margin-top:px;border-left:px solid #444444;border-top:10px solid #666666;border-right:px solid #333333;border-bottom:10px solid #191919; box-shadow: 0px -30px 140px #151515;}
.top-station{height:30px;color:#cccccc;padding-left:0px;padding-top:px;}
.station-signal*{-webkit-animation: onair 5s linear 1;animation: onair 5s linear 1;}
.onair{ -webkit-animation: onair 6s linear infinite; animation: onair 6s linear infinite;}
.onair-stream{ -webkit-animation: onair 6s linear infinite; animation: onair 6s linear infinite;}

@-webkit-keyframes onair* {
  0% { color: rgba(181, 230, 29, 1); }
  50% { color: rgba(181, 230, 29, 0); }
  100% { color: rgba(181, 230, 29, 1); }
}
@keyframes onair* {
  0% { color: rgba(181, 230, 29, 1); }
  50% { color: rgba(181, 230, 29, 0); }
  100% { color: rgba(181, 230, 29, 1); }
}

@-webkit-keyframes onair {
  0% { color: rgba(255, 0, 0, 1); }
  50% { color: rgba(255, 0, 0, 0); }
  100% { color: rgba(255, 0, 0, 1); }
}
@keyframes onair {
  0% { color: rgba(255, 0, 0, 1); }
  50% { color: rgba(255, 0, 0, 0); }
  100% { color: rgba(255, 0, 0, 1); }
}
.stream-title{color:#000000; width:760px;height:10px;margin:0 auto; margin-top:6px; margin-bottom:4px;text-align:center;font-size:9px;font-weight:;letter-spacing:px;font-family:Aldrich, Verdana;}
.top-bar1{width:50px; height:50px;background-image*:url(../graf2/6gr3l.png);filter: brightness(.6); background-size:22px; background-position:18px 18px;background-repeat:no-repeat;}
.top-bar2{background:url(../graf2/logonet.png) 0px 18px no-repeat, url(../graf2/false.png.html);filter*: brightness(.5)}
.top-bar3{width:30px;}
.top-bar4{ background*:url(../graf2/line.png) no-repeat 230px 20px}
.top-bar5{width:50px; height:40px;background-image*:url(../graf2/6gr3r.png);filter: brightness(.7); background-size:22px; background-position:12px 20px; background-repeat:no-repeat}
.left-column1{background-image*:linear-gradient(to right, #555555, #aaaaaa, #bbbbbb); background-repeat: no-repeat; background-size:52px 90px; background-position:0px 0px;}
.left-column2{background-image*:linear-gradient(to right, #555555, #aaaaaa, #cccccc)}
.left-column3{background-image*:linear-gradient(to right, #555555, #aaaaaa, #cccccc)}
.bottom-bar1{width:50px; height:50px;background-image*:url(../graf2/6gr3l.png);filter: brightness(.6); background-size:9px; background-position:22px 24px; background-repeat:no-repeat}
.bottom-bar2{text-align:right; background:url(../graf2/pow.png) left no-repeat, url(../graf2/rrc.png) center no-repeat, url(../graf2/false.png.html);}
.bottom-bar3{text-align:right;background:url(../graf2/web-radio-broadcasting2.png) no-repeat right, url(../graf2/false.png.html) ;}
.bottom-bar4{}
.bottom-bar5{background*:url(../graf2/line-bottom.png.html) no-repeat 284px 18px}
.bottom-bar6{width:50px;height:40px;background-image*:url(../graf2/6gr3r.png);filter: brightness(.7); background-size:22px; background-position:14px 16px; background-repeat:no-repeat}
.station-tab{margin:0 auto; line-height:10px; width:760px; margin-top:4px; margin-bottom:4px}
@-webkit-keyframes station* {
  0% { color: rgba(0, 0, 0, 1); }
  50% { color: rgba(0, 0, 0, 1); }
  100% { color: rgba(0, 0, 0, 1); }
}
@keyframes station {
  0% { color: rgba(0, 0, 0, 1); }
  50% { color: rgba(0, 0, 0, 1); }
  100% { color: rgba(0, 0, 0, 1); }
}
.station{text-align:center;letter-spacing:1px;font-weight:normal;color*:#6bc9ff;color:#ffffff;text-shadow*:0px 0px 0px #6bc9ff, 0px 0px 30px #6bc9ff;text-shadow:0px 0px 0px #ffffff, 0px 0px 30px #ffffff;font-size:15px;font-family:radio, Verdana;-webkit-animation: station 2s linear 1;animation: station 2s linear 1;}
@-webkit-keyframes stream-signal {
  0% { color: rgba(0, 0, 0, 1); }
  50% { color: rgba(0, 0, 0, 1); }
  100% { color: rgba(0, 0, 0, 1); }
}
@keyframes stream-signal {
  0% { color: rgba(0, 0, 0, 1); }
  50% { color: rgba(0, 0, 0, 1); }
  100% { color: rgba(0, 0, 0, 1); }
}
.stream-signal{-webkit-animation: stream-signal 2.5s linear 1;animation: stream-signal 2.5s linear 1;}
/* tip-всплывающая подсказка */
.tip*{
    display: inline;
    position: relative;
}
.tip:after*{ 
    font-size*: 8px;
	font-weight*:bold;
	font-family*: Verdana, sans-serif;
	border*:1px solid #6bc9ff;
	box-shadow*:0px 0px 20px #6bc9ff;
	text-shadow*:0px 0px 30px #00BBFF;
    background: #001b2b;
    bottom: px;
    content: "PLAYED";
    padding: 0px 0px;
    position: absolute;
    left:-9999px;
    width: px;
	opacity:0;
	-webkit-transition:0.25s linear opacity;
    transition:0.25s linear opacity;
	white-space:nowrap;
}
.tip:hover:after*{
	left:0px;
    opacity:1;
}
.color a { color:#6bc9ff;font-family:radio, Verdana }
/* end tip */
.pre-onair{width:30px;}
.onair-text{text-align:center; height:10px; margin-top:4px; margin-bottom:4px;letter-spacing:px; width:760px;font-size:9px;font-weight:;color:#000000; margin:0 auto;font-family:Aldrich, Verdana;}
.pre-stream{width:30px;}
.meta-tab{height:170px; width:750px; background-color:#000000;border-collapse:collapse;border-top:8px solid #333333;border-left:2px solid #333333;border-right:2px solid #555555;border-bottom: 8px solid #555555;border-radius:1px;background-image*:url(../graf2/tablo.png); box-shadow*:inset rgba(107, 201, 255, 0.9) 0px 2px 4px 0px, inset rgba(255, 158, 25, 0.7) 0px -2px 4px 0px;box-shadow*:inset rgba(255, 255, 255, 0.2) 0px 5px 10px 0px, inset rgba(255, 0, 0, 0.2) 0px -5px 10px 0px}
.stream{text-align:center;width:750px;padding-left:px;padding-right:px;height:90px;line-height:26px;color*:#ff9e19;color:#ff0000;text-shadow*:0px 0px 0px #ff9e19, 0px 0px 20px #ff9e19;text-shadow:0px 0px 0px #ff0000, 0px 0px 20px #ff0000;font-size:16px; margin:0 auto;font-family*:Aldrich, Verdana; font-weight:normal;}
.post-stream{height:20px; background*:url(../graf2/rrc.png) no-repeat 512px 6px;filter*:brightness(.6); text-align:right; line-height:0px;}
.middle-column2{ background*:url(../graf2/remote.png.html) no-repeat 4px 2px;filter*:brightness(.6);}
.post-stream:before*{content:"STREAM SPEED 1-48kbps 2-128kbps 3-128kbps(res.)";color:#222222; font-size:8px; font-weight:; padding-right:0px;  }
.tab-players{height:70px; vertical-align:top; width:px;background-color:#000000;border-left:2px solid #333333;border-right:2px solid #555555;border-top: 8px solid #333333;border-bottom: 8px solid #555555;border-radius:1px;background-image*:url(../graf2/tablo.png);box-shadow*:inset rgba(255, 158, 25, 0.7) 0px 2px 4px 0px, inset rgba(107, 201, 255, 0.9) 0px -2px 4px 0px}
@-webkit-keyframes sign {
  0% { color: rgba(0, 0, 0, 1); }
  50% { color: rgba(0, 0, 0, 1); }
  100% { color: rgba(0, 0, 0, 1); }
}
@keyframes sign {
  0% { color: rgba(0, 0, 0, 1); }
  50% { color: rgba(0, 0, 0, 1); }
  100% { color: rgba(0, 0, 0, 1); }
}
.sign{width:776px;height:30px;margin:0 auto;color:#ff0000;text-shadow*:0px 0px 14px #ff9e19, 0px 0px 40px #ff9e19;text-shadow:0px 0px 14px #ff0000, 0px 0px 40px #ff0000;font-weight:  ; letter-spacing:px; font-size:8px; position:relative; padding-bottom:6px;font-family:Aldrich, Verdana;-webkit-animation: sign 1.5s linear 1;animation: sign 1.5s linear 1;}
.bef{width:2px;}
.played{width:50px;text-align:left;}
.played:before{content:"PLAYED";margin-left*:-4px;position:absolute; left:3px;}
.play{width:50px;text-align:left;}
.play:before{content:"PLAY";margin-left*:14px;position:absolute; left:74px;}
.stop{width:50px;text-align:left;}
.stop:before{content:"STOP";margin-left*:14px;position:absolute; left:141px;}
.mute{width:50px;text-align:left;}
.mute:before{content:"MUTE";margin-left*:4px;position:absolute; left:207px;}
.volume{width:px;text-align:left;}
.volume:before{content:"VOLUME";margin-left*:90px;position:absolute; left:368px}
.net{width:60px;text-align:left;}
.net:before*{content:"STREAM";margin-left*:-20px; border*:solid 1px; padding*:2px 4px 1px 3px;position:absolute; left:440px}
.format{width:60px;text-align:left;}
.format:before{content:"FORMAT";margin-left*:22px;position:absolute; left:526px}
.server{width:100px;text-align:left;}
.server:before{content:"BITRATE";margin-left*:28px;position:absolute; left:601px}
.time{width:100px;text-align:left;}
.time:before{content:"AIRTIME";margin-left*:36px;position:absolute; left:699px}
.aft{width:2px;}
@-webkit-keyframes player-big {
  0% { color: rgba(0, 0, 0, 1); }
  50% { color: rgba(0, 0, 0, 1); }
  100% { color: rgba(0, 0, 0, 1); }
}
@keyframes player-big {
  0% { color: rgba(0, 0, 0, 1); }
  50% { color: rgba(0, 0, 0, 1); }
  100% { color: rgba(0, 0, 0, 1); }
}
.player-big{height:30px;width:776px;margin:0 auto;  background*:url(../graf2/server.png.html) no-repeat 594px 14px;-webkit-animation: player-big 1s linear 1;animation: player-big 1s linear 1;animation-duration: 1s}
.playback-html{width:26px;color:#ffffff;text-align:right; padding-top:6px;}
.player-d{width*:680px;margin:0 auto; background*:url(../graf2/stream-indicator1.gif) 417px 10px no-repeat;background-size:17px 11px;}
.pic{border-collapse:collapse;border-top:8px solid #222222;border-left:2px solid #333333;border-right:2px solid #333333;border-bottom: 8px solid #333333;border-radius*:1px;box-shadow*:inset rgba(0, 0, 0, 1) 0px 0px 0px 3px;}
.matrix{background: url(../graf2/back-tv.png)}
#pic-album{width:296px; height:296px;margin:0 auto;}
.pic{transition:filter .5s ease-in-out;filter:grayscale(100%);} 
.pic:hover{-webkit-filter:grayscale(0%);filter:grayscale(0%);}
.player-top{width:1240px; height:60px; margin:0 auto; background:linear-gradient(to bottom, #000000, #111111);}
.player-bottom{width:1240px; margin:0 auto; margin-bottom:2px; margin-top:2px}
.player-bottom1{width:80px; height:30px}
.player-bottom2{width:150px;background:linear-gradient(to right, #060606, #161616, #060606);filter*:sepia(100%);}
.player-bottom3{background*:linear-gradient(to bottom, #6bc9ff, #000000);}
.player-bottom4{width:150px;background:linear-gradient(to right, #040404, #101010, #040404);filter*:sepia(100%);}
.player-bottom5{width:80px; height:px}
.player-bottom6{width:1240px; height:60px;margin:0 auto; background:linear-gradient(to top, #000000, #111111);}
.player-bottom6-in{color:#000000}
.player-bottom7{margin:0 auto;width:700px;height:0px;background:linear-gradient*(to right, #000000, #666666, #000000);filter*:sepia(100%);margin-top:px;}
.player-bottom7-in{}
.title-stream{width:1240px;text-align:left;margin:0 auto;margin-top:60px; background:linear-gradient(to right, #000000,  #222222, #000000)}
.title-stream1{font-weight:normal; padding-left:px; padding-top:10px;font-size:24px;line-height:10px;color:#CCCCCC;margin-top:8px; text-shadow*:0px 0px 20px #ffffff;}
.text-stream{width:1240px;margin:0 auto; padding-left:px; padding-right:px; padding-bottom:10px;color:#999999;font-size:14px;text-align:left;line-height:24px;background:linear-gradient(to right, #000000, #222222, #000000)}
.song-history{text-align: center;vertical-align: middle;padding-left:20px;padding-right:20px;background-color:#000000;height:200px;line-height:26px;color:#ff9e19;text-shadow:0px 0px 0px #ff9e19, 0px 0px 25px #ff9e19;font-size:16px;border-bottom-left-radius:4px;border-left: 2px solid #aaaaaa;border-bottom-right-radius:4px;border-right: 2px solid #999999;border-bottom: 10px solid #999999;}
/* Iframe */
.scroll {width: 1000px;
	height: 200px;
	padding-left:0px;
	margin:0px 0px 0px 4px;
	overflow: hidden;color:ff9e19;}
.scroll-out {width: 1130px;
	height: 100%;
	padding-right: 0px;
	overflow-x: hidden;
	overflow-y: scroll;color:ff9e19}	
.scroll-in {width: 100%;
	margin: 0 0px;
	padding-right: 10px;color:ff9e19}
/* end Iframe */	
.logo-small{width:40px; margin:0 auto;height:20px; margin-top:50px;background-image:url(../graf2/lablogo.png); background-position:center; background-repeat:no-repeat}
.counters{width:1240px; margin:0 auto;margin-top*:10px;line-height:0px;}
.counters-playback{width:px; margin:0 auto;margin-top:20px;line-height:0px}
#ram{width:px}
#ram a img{opacity:0.0; -moz-opacity:0.0; filter:alpha(opacity=40);}
#ram a:hover img{opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100);}
.mail{font-size:12px;word-spacing:6px;text-align:left;color:#999999;width:260px;padding-top:4px}
.mail-aac{font-size:12px;word-spacing:6px;padding-right:164px;text-align:right;color:#999999;vertical-align:middle;width:300px;}
.age{width:40px;background-image:url(../graf2/18m.png);background-position:left;background-repeat:no-repeat;}
.direct*{ width:1080px; margin:0 auto;vertical-align:top; line-height:70px; margin-top:30px;}
.catalog-tab*{ width:1080px; margin:0 auto;margin-top:30px;}
.about{width:1240px;margin:0 auto; margin-top:50px;}
.about-left{width:550px; text-align:left;font-size:11px; line-height:24px; color:#999999;vertical-align:top; padding-left:40px}
.about-middle{width:20px;text-align:left;font-size: 12px; color:#CCCCCC;vertical-align:top}
.about-right{width:550px;text-align:left;font-size:11px; line-height:28px; color:#999999;vertical-align:top; padding-left:60px}
.aac{border-collapse:collapse;width:1080px;margin:0 auto;margin-top:40px;}

.title-playback-history{width:px; margin:0 auto; margin-top:40px}
.title-playback-history1{margin:0 auto; margin-top:20px; color:#ffffff; text-align:center; font-size:26px;}
.playback{color:#ff0000; font-size:20px; text-align:center;}
.mid-playback-history{height:10px}
#list-history{width:px; color:#999999; line-height:36px; font-size:18px; height:100px; margin:0 auto; margin-top:40px;background-image*:url(../graf2/playback-orange.png);background-position:640px 10px; background-repeat:no-repeat; background-size:500px;}

footer{height:20px}