[Desktop Entry]
Name=Free Radio
Comment=Stream radio stations from various sources without ads or talk
Type=Service
Icon=media-playback-start
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Unknown
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=freeradio
X-KDE-PluginInfo-Version=1.2
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=declarativeappletscript
X-Plasma-API-Minimum-Version=6.0
X-Plasma-MainScript=ui/main.qml